<Boot.Config xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">

  <Application>NWheels.Domains.ECommerce.ManualTest</Application>
  <Node>AppServer</Node>
  <Environment>MongoBreezeNancy</Environment>
  <EnvironmentType>Dev</EnvironmentType>

  <FrameworkModules>
    <Module>
      <Assembly>NWheels.dll</Assembly>
      <Features>
        <Feature>
          <LoaderClass>NWheels.Processing.ServiceBusFeatureLoader</LoaderClass>
        </Feature>
      </Features>
    </Module>
    <Module>
      <Assembly>NWheels.Stacks.MongoDb.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Stacks.NancyFx.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Stacks.ODataBreeze.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Domains.Security.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Domains.ECommerce.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Testing.dll</Assembly>
      <Features>
        <Feature>
          <LoaderClass>NWheels.Testing.Processing.Messages.LocalFileOutgoingEmailFeature</LoaderClass>
        </Feature>
      </Features>
    </Module>
  </FrameworkModules>

  <ApplicationModules>
    <Module>
      <Assembly>NWheels.Domains.ECommerce.Tests.dll</Assembly>
      <LoaderClass>NWheels.Domains.ECommerce.Tests.App.ModuleLoader</LoaderClass>
    </Module>
  </ApplicationModules>

  <ConfigFiles>
    <File>
      <Path>stack.config</Path>
      <IsOptional>true</IsOptional>
    </File>
    <File>
      <Path>my.config</Path>
      <IsOptional>true</IsOptional>
    </File>
  </ConfigFiles>

</Boot.Config>
