<?xml version="1.0" encoding="utf-8"?>
<CONFIGURATION>
  <ALWAYS comment="Connection string configuration">
    <Framework.Database connectionString="server=localhost;database=ECommerceDomainTest" />
    <Framework.Logging level="Info" suppressDynamicArtifacts="false" />
  </ALWAYS>
  <IF environment-type="Dev" comment="Settings for DEV environments">
    <Framework.UI webContentRootPath="..\..\NWheels.Stacks.NancyFx\ClientSide\WebUI" />
  </IF>
</CONFIGURATION>